<?xml version="1.0"?>
<settings>
  <profiles>
    <profile>
      <id>gpg</id>
      <properties>
        <gpg.passphrase>${env.GPG_PW}</gpg.passphrase>
      </properties>
      <servers>
        <server>
          <id>ossrh</id>
          <username>${env.SONATYPE_USER}</username>
          <password>${env.SONATYPE_PW}</password>
        </server>
      </servers>
    </profile>
  </profiles>
</settings>
